<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blood Line</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
  </head>
  <body>
        <img src="images/background.png" alt="background" id="backgroundImage">
    <img src="images/logo.png" alt="Bloodline Logo" width="100px" id="logo">
    <p id="answer"></p>
    <!--Go FORWARD-->
    <input type = "button" id="confirmYes" value="confirmYes" onclick="window.location.href = 'question.html';"></input>

    <!--Go BACK-->
    <input type = "button" id="confirmNo" value="confirmNo" onclick="window.location.href = 'question.html';"></input>
    <button onClick="" id="backward"><img src="images/backward.png" id="backimage"></button>
    <button onClick="" id="repeat"><img src="images/sound.png" id="repeatimage"></button>

    <meta http-equiv="refresh" content="5;url=question.html" />
    <script>
    function toAnswer(answer) {
      if(answer === 'yes') {
        return "Your answer is Yes";
      } else {
        return "Your answer is No";
      }
    }

    document.getElementById("answer").innerHTML = toAnswer(localStorage.getItem('answer'));


    </script>
  </body>
</html>
